h1,h2
{
    text-align:center
    
}
img
{
    width:300px;
    height:250px; 
}
body
{
    background-color:darkkhaki;
}
a
{
    background-color: blanchedalmond;
    text-decoration: blink;
    box-shadow:3px 3px 3px 2px;
    font-weight: 500px;
}
h1,h2
{
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from 
  {
    padding-left: 100%;
    width: 300%;
  }

  to 
  {
    padding-left: 0%;
    width: 100%;
  }

}
div.doggy
{
  margin-left: 450px;
  width:600px;
}
div.dog
{
  font-size:xx-large;
  text-decoration: skyblue;
  text-decoration: blink;
}